
.layout{
    position: relative;
    height: 100vh;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 px;
    display: flex;
    flex-direction: column;

    
    .navbar {
        flex: 0 0 auto;    
    }

    .content{
        flex: 1;
        overflow-y: auto;
        padding-bottom: 2.5rem;
    }

    .footer {
        position: absolute;
        bottom: 0;
        background-color: gray;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
   
}