.profile{
    display: flex;
    height: 100%;

    
    .details{
        flex: 3;
        overflow-y: scroll;
        padding-bottom: 50px;

        .wrapper{
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;


            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                gap: 15px;
                h1{
                    font-weight: 300;
                }

                button{
                    padding: 12px 24px;
                    background-color: #fece51;
                    cursor: pointer;
                    border: none;
                }
                .posts{
                    .post{
                        padding: 10px;
                    }
                }
            }
            .info{
                display: flex;
                flex-direction: column;
                gap: 30px;

                span{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                
            }
        }
    }
    .container{
        flex: 2;
        .messages{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: scroll;
    
            h1{
                font-weight: 300;
            }
    
            .message{
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 20px;
                cursor: pointer;
    
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
    
                span{
                    font-weight: bold;
                }
            }
        }
    }
}