.contact {
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;


    .textContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 40px;


        h1 {
            font-size: 50px;
            line-height: 50px;
        }

        span {
            font-weight: 300;
        }
    }

    .container {
        flex: 2;
        padding-bottom: 20px;
        height: 100%;
    
        padding-top: 30px;
        padding-right: 33px;

        .formContainer {      
            position: relative;
            .phoneSvg {
                position: absolute;
                margin: auto;
                stroke: orange;
                z-index: -1;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                input,
                textarea {
                    padding: 20px;
                    background-color: #f1f1f1;
                    border: 1px solid white;
                    color: black;
                    border-radius: 5px;


                }

                button {
                    padding: 20px;
                    cursor: pointer;
                    background-color: orange;
                    border: none;
                    font-weight: 500;
                    border-radius: 5px;

                }
            }
        }
    }
}