nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;


    .leftSide{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 15px;
            align-items: center;

            img{
                width: 45px;
            }
        }
    }

    .rightSide{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: rgb(241, 241, 241);
        height: 100%;

        a{
            padding: 12px 15px;
            margin: 15px;
        }

        .user{
            display: flex;
            align-items: center;
            font-weight: bold;
            

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
            }
            span{
                
            }
            .notifications{
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 20px;
                }
            }
        }
    }
}